# Pyspark Basics

In [2]:
#create pyspark session
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('pyspark').getOrCreate()

In [121]:
#read the data file
df=spark.read.csv('conversion_data.csv')

In [122]:
df.show(5)

+-------+---+--------+------+-------------------+---------+
|    _c0|_c1|     _c2|   _c3|                _c4|      _c5|
+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
|     UK| 25|       1|   Ads|                  1|        0|
|     US| 23|       1|   Seo|                  5|        0|
|     US| 28|       1|   Seo|                  4|        0|
|  China| 39|       1|   Seo|                  5|        0|
+-------+---+--------+------+-------------------+---------+
only showing top 5 rows

In [123]:
#read the data file
df=spark.read.csv('conversion_data.csv',header=True)

In [124]:
df.show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|     UK| 25|       1|   Ads|                  1|        0|
|     US| 23|       1|   Seo|                  5|        0|
|     US| 28|       1|   Seo|                  4|        0|
|  China| 39|       1|   Seo|                  5|        0|
|     US| 30|       1|   Seo|                  6|        0|
+-------+---+--------+------+-------------------+---------+
only showing top 5 rows

In [125]:
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- age: string (nullable = true)
 |-- new_user: string (nullable = true)
 |-- source: string (nullable = true)
 |-- total_pages_visited: string (nullable = true)
 |-- converted: string (nullable = true)

In [126]:
#statistical summary for data numerical columns
df.describe().show()

+-------+-------+------------------+-------------------+------+-------------------+-------------------+
|summary|country|               age|           new_user|source|total_pages_visited|          converted|
+-------+-------+------------------+-------------------+------+-------------------+-------------------+
|  count| 316200|            316200|             316200|316200|             316200|             316200|
|   mean|   null|30.569857685009488| 0.6854648956356736|  null|  4.872966476913346|0.03225806451612903|
| stddev|   null| 8.271801801807728|0.46433119036384723|  null|  3.341103757948214|0.17668497535763514|
|    min|  China|               111|                  0|   Ads|                  1|                  0|
|    max|     US|                79|                  1|   Seo|                  9|                  1|
+-------+-------+------------------+-------------------+------+-------------------+-------------------+

## Datatypes

In [130]:
from pyspark.sql.functions import col , column
df = df.withColumn("age", col("age").cast("Int"))\
    .withColumn("new_user", col("new_user").cast("Int"))\
    .withColumn("total_pages_visited", col("total_pages_visited").cast("Int"))\
    .withColumn("converted", col("converted").cast("Int"))

In [131]:
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- new_user: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- total_pages_visited: integer (nullable = true)
 |-- converted: integer (nullable = true)

In [132]:
df.show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|     UK| 25|       1|   Ads|                  1|        0|
|     US| 23|       1|   Seo|                  5|        0|
|     US| 28|       1|   Seo|                  4|        0|
|  China| 39|       1|   Seo|                  5|        0|
|     US| 30|       1|   Seo|                  6|        0|
+-------+---+--------+------+-------------------+---------+
only showing top 5 rows

In [133]:
#acess dataframe column , we get column object 
df['country']

Column<b'country'>

In [134]:
type(df['country'])

pyspark.sql.column.Column

In [135]:
#access content of colum
df.select('country').show(5)

+-------+
|country|
+-------+
|     UK|
|     US|
|     US|
|  China|
|     US|
+-------+
only showing top 5 rows

In [136]:
#acess multiple columns
df.select(['country','source']).show(5)

+-------+------+
|country|source|
+-------+------+
|     UK|   Ads|
|     US|   Seo|
|     US|   Seo|
|  China|   Seo|
|     US|   Seo|
+-------+------+
only showing top 5 rows

### Add or Remove column

#### using udf (user defined functions)

In [137]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

def country_udf(country):
    if country =='UK':
        return 'Britain'
    elif country =='US':
        return 'USA'
    elif country =='China':
        return 'Asia'
    elif country =='Germany':
        return 'Deustche'
    else:
        return country
        
spark_udf = udf(country_udf, StringType())

df=df.withColumn("country_new", spark_udf(df.country))

In [138]:
df.show(10)

+-------+---+--------+------+-------------------+---------+-----------+
|country|age|new_user|source|total_pages_visited|converted|country_new|
+-------+---+--------+------+-------------------+---------+-----------+
|     UK| 25|       1|   Ads|                  1|        0|    Britain|
|     US| 23|       1|   Seo|                  5|        0|        USA|
|     US| 28|       1|   Seo|                  4|        0|        USA|
|  China| 39|       1|   Seo|                  5|        0|       Asia|
|     US| 30|       1|   Seo|                  6|        0|        USA|
|     US| 31|       0|   Seo|                  1|        0|        USA|
|  China| 27|       1|   Seo|                  4|        0|       Asia|
|     US| 23|       0|   Ads|                  4|        0|        USA|
|     UK| 29|       0|Direct|                  4|        0|    Britain|
|     US| 25|       0|   Ads|                  2|        0|        USA|
+-------+---+--------+------+-------------------+---------+-----------+
only showing top 10 rows

#### without using udf

In [139]:
#create new column with age +2  value
df=df.withColumn('new_age',df['age'] +2)

In [140]:
df.show(10)

+-------+---+--------+------+-------------------+---------+-----------+-------+
|country|age|new_user|source|total_pages_visited|converted|country_new|new_age|
+-------+---+--------+------+-------------------+---------+-----------+-------+
|     UK| 25|       1|   Ads|                  1|        0|    Britain|     27|
|     US| 23|       1|   Seo|                  5|        0|        USA|     25|
|     US| 28|       1|   Seo|                  4|        0|        USA|     30|
|  China| 39|       1|   Seo|                  5|        0|       Asia|     41|
|     US| 30|       1|   Seo|                  6|        0|        USA|     32|
|     US| 31|       0|   Seo|                  1|        0|        USA|     33|
|  China| 27|       1|   Seo|                  4|        0|       Asia|     29|
|     US| 23|       0|   Ads|                  4|        0|        USA|     25|
|     UK| 29|       0|Direct|                  4|        0|    Britain|     31|
|     US| 25|       0|   Ads|                  2|        0|        USA|     27|
+-------+---+--------+------+-------------------+---------+-----------+-------+
only showing top 10 rows

### Drop /Delete columns

In [141]:
#delete the new_age column
df=df.drop('new_age')

In [142]:
#delete the country_new column
df=df.drop('country_new')

In [143]:
df.show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|     UK| 25|       1|   Ads|                  1|        0|
|     US| 23|       1|   Seo|                  5|        0|
|     US| 28|       1|   Seo|                  4|        0|
|  China| 39|       1|   Seo|                  5|        0|
|     US| 30|       1|   Seo|                  6|        0|
+-------+---+--------+------+-------------------+---------+
only showing top 5 rows

# Acess row objects of dataframe

In [144]:
#access first 3 rows
df.head(3)

[Row(country='UK', age=25, new_user=1, source='Ads', total_pages_visited=1, converted=0),
 Row(country='US', age=23, new_user=1, source='Seo', total_pages_visited=5, converted=0),
 Row(country='US', age=28, new_user=1, source='Seo', total_pages_visited=4, converted=0)]

In [145]:
#access first row object 
df.head(3)[0]

Row(country='UK', age=25, new_user=1, source='Ads', total_pages_visited=1, converted=0)

In [146]:
#access first row object
df.head(3)[0][0]

'UK'

## Filtering

In [147]:
#filter records where age of user is more than 75 years
df.filter(df['age'] >75).show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|Germany|123|       0|   Seo|                 15|        1|
|     US| 77|       0|Direct|                  4|        0|
|     US| 79|       1|Direct|                  1|        0|
|     UK|111|       0|   Ads|                 10|        1|
+-------+---+--------+------+-------------------+---------+

In [148]:
#filter records and show only country and converted status of that user
df.filter(df['age'] > 75).select(['country','converted','age']).show(5)

+-------+---------+---+
|country|converted|age|
+-------+---------+---+
|Germany|        1|123|
|     US|        0| 77|
|     US|        0| 79|
|     UK|        1|111|
+-------+---------+---+

### Multiple filter conditions

In [149]:
#select people over 75 years only from US
df.filter(df['age'] > 75).filter(df['country'] =='US').show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|     US| 77|       0|Direct|                  4|        0|
|     US| 79|       1|Direct|                  1|        0|
+-------+---+--------+------+-------------------+---------+

In [150]:
#selet users who have more less than 3 visited pages and are still converted from Germany 
df.filter(df['total_pages_visited'] < 3).filter(df['converted']==1).filter(df['country'] =='Germany').show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|Germany| 31|       0|Direct|                  2|        1|
+-------+---+--------+------+-------------------+---------+

## Count Records

In [151]:
#total records in df 
df.count()

316200

In [152]:
# Frequency count of column values
df.groupBy('country').count().show(5)

+-------+------+
|country| count|
+-------+------+
|Germany| 13056|
|  China| 76602|
|     US|178092|
|     UK| 48450|
+-------+------+

In [153]:
## Ordered Frequency count 
df.groupBy('country').count().orderBy('count',ascending=False).show(5)

+-------+------+
|country| count|
+-------+------+
|     US|178092|
|  China| 76602|
|     UK| 48450|
|Germany| 13056|
+-------+------+

In [154]:
#Total converted vs non converted user counts
df.groupBy('converted').count().show(2)

+---------+------+
|converted| count|
+---------+------+
|        1| 10200|
|        0|306000|
+---------+------+

In [156]:
#Mean value of conversion for each source
df.groupBy('converted').mean().show()

+---------+------------------+------------------+------------------------+--------------+
|converted|          avg(age)|     avg(new_user)|avg(total_pages_visited)|avg(converted)|
+---------+------------------+------------------+------------------------+--------------+
|        1|26.546764705882353|0.2979411764705882|      14.553529411764705|           1.0|
|        0|30.703960784313725|0.6983823529411765|       4.550281045751634|           0.0|
+---------+------------------+------------------+------------------------+--------------+

## Collect

Save the results as a list with row objects

In [57]:
# create a list with only converted users data from China
china_data=df.filter((df['country']=='China') & (df['converted'] ==1)).collect()

In [60]:
#view the new list 
china_data[:5]

[Row(country='China', age='24', new_user='0', source='Seo', total_pages_visited='18', converted='1'),
 Row(country='China', age='26', new_user='1', source='Ads', total_pages_visited='18', converted='1'),
 Row(country='China', age='30', new_user='0', source='Ads', total_pages_visited='17', converted='1'),
 Row(country='China', age='26', new_user='0', source='Seo', total_pages_visited='8', converted='1'),
 Row(country='China', age='33', new_user='1', source='Direct', total_pages_visited='13', converted='1')]

In [67]:
#view the list object as a dictionary
china_dict=china_data[0].asDict()

In [64]:
china_dict['age']

'24'

In [65]:
china_dict['total_pages_visited']

'18'

## Aggregate Functions

In [158]:
df.agg({'age':'mean'}).show()

+------------------+
|          avg(age)|
+------------------+
|30.569857685009488|
+------------------+

In [159]:
df.agg({'converted':'mean'}).show()

+-------------------+
|     avg(converted)|
+-------------------+
|0.03225806451612903|
+-------------------+

In [160]:
df.agg({'age':'max'}).show()

+--------+
|max(age)|
+--------+
|     123|
+--------+

In [161]:
df.agg({'country':'count'}).show()

+--------------+
|count(country)|
+--------------+
|        316200|
+--------------+

In [162]:
df.agg({'age':'min'}).show()

+--------+
|min(age)|
+--------+
|      17|
+--------+

In [163]:
## aggregation on grouped data by country
df.groupBy('country').agg({'age':'max'}).show()

+-------+--------+
|country|max(age)|
+-------+--------+
|Germany|     123|
|  China|      69|
|     US|      79|
|     UK|     111|
+-------+--------+

In [164]:
## aggregation on grouped data by country,source
df.groupBy(['country','source']).agg({'age':'max'}).show()

+-------+------+--------+
|country|source|max(age)|
+-------+------+--------+
|Germany|Direct|      61|
|  China|Direct|      65|
|     UK|   Ads|     111|
|     US|   Seo|      73|
|     UK|   Seo|      66|
|Germany|   Seo|     123|
|Germany|   Ads|      64|
|  China|   Seo|      68|
|     UK|Direct|      69|
|  China|   Ads|      69|
|     US|   Ads|      70|
|     US|Direct|      79|
+-------+------+--------+

In [170]:
## aggregation on grouped data by country,converted
df.groupBy(['country','converted']).agg({'total_pages_visited':'mean'}).show()

+-------+---------+------------------------+
|country|converted|avg(total_pages_visited)|
+-------+---------+------------------------+
|Germany|        0|       4.565277777777778|
|  China|        1|      14.352941176470589|
|  China|        0|      4.5404575163398695|
|     US|        0|       4.551785714285714|
|     UK|        0|       4.557037037037037|
|Germany|        1|      14.572303921568627|
|     UK|        1|       14.53450980392157|
|     US|        1|      14.561497326203208|
+-------+---------+------------------------+