In [1]:
import pyspark

In [2]:
#import SparkSession
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('ss').getOrCreate()

In [20]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [22]:
#create sample dataset
df_1=spark.createDataFrame([('pramod neha',),('pramod ziaan',)],["name"]).write.save("new_folder",mode='append')

In [23]:
#define schema for input data
schema=StructType().add('name','string')
name_list=spark.readStream.schema(schema).format('parquet').load("new_folder")

In [24]:
#split the names into individual names
names=name_list.select(explode(split(name_list.name,' ')).alias('name'))

In [25]:
name_count=names.groupBy('name').count()

In [27]:
#query to write the results into memory sink
query=(name_count.writeStream.queryName('new_query').outputMode('complete').format('memory').start())

In [31]:
spark.sql("select * from new_query order by count ").toPandas().head(5)

     name  count
0   ziaan      1
1    neha      1
2  pramod      2

In [32]:
df_2=spark.createDataFrame([('ziaan neha',),('ziaan ziaan',)],["name"]).write.save("new_folder",mode='append')

In [35]:
spark.sql("select * from new_query order by count ").toPandas().head(50)

     name  count
0  pramod      2
1    neha      3
2   ziaan      5

In [34]:
df_3=spark.createDataFrame([('neha',),('ziaan',)],["name"]).write.save("new_folder",mode='append')